.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-style: solid;

}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  width: 40vmin;
  pointer-events: none;
  border-radius: 100%;
  border: 2px solid #73AD21;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Menu {
  display: flex;
  background-color: red;
}

.menuItem{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

a{
  text-decoration: none;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
    background-color: red;
  }
  to {
    transform: rotate(0deg);
    background-color: black;
  }

}
